@font-face {
  font-family: 'gothamPro';
  src: url('../fonts/gothamproblack-webfont.woff2') format('woff2'),
  url('../fonts/gothamproblack-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'gothamPro';
  src: url('../fonts/gothamproblackitalic-webfont.woff2') format('woff2'),
  url('../fonts/gothamproblackitalic-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'gothamPro';
  src: url('../fonts/gothamprobold-webfont.woff2') format('woff2'),
  url('../fonts/gothamprobold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'gothamPro';
  src: url('../fonts/gothamproitalic-webfont.woff2') format('woff2'),
  url('../fonts/gothamproitalic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'gothamPro';
  src: url('../fonts/gothamprolight-webfont.woff2') format('woff2'),
  url('../fonts/gothamprolight-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'gothamPro';
  src: url('../fonts/gothamprolightitalic-webfont.woff2') format('woff2'),
  url('../fonts/gothamprolightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'gothamPro';
  src: url('../fonts/gothampromedium-webfont.woff2') format('woff2'),
  url('../fonts/gothampromedium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'gothamPro';
  src: url('../fonts/gothampromediumitalic-webfont.woff2') format('woff2'),
  url('../fonts/gothampromediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'gothamPro';
  src: url('../fonts/gothamproregular-webfont.woff2') format('woff2'),
  url('../fonts/gothamproregular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
  url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/groboto-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}